# ========================
# Development Dependencies
# ========================
#
# These are not installation requirements!
#
# The following dependencies are only required for
# testing, building, and documentation generation.

Sphinx>=1.3.2
sphinx-tabs
sphinx_rtd_theme>=0.3.1
sphinx-autobuild>=0.6.0
